.carrossel {
    padding: 70px 35px;
    display: flex;
    justify-content: center;
}

#second-box-content {
    display: flex;
    flex-direction: column;
    padding: 70px 35px;

}

.box-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 12px;
}

.products-showcase {
    padding: 0 35px 70px;
}

.products-showcase-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 12px;
}

.showcase-name {
    font-family: 'Helvetica';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    padding: 50px 0 25px 0;
    margin: 0
}