header{
    background: #F26522;
    display: flex;
    height: 100px;
    flex-direction: row;
    width: 100vw;
    max-width: 1440px;
}

ul {
    display: flex;
    margin: 0;
    padding: 0;
    flex-direction: row;
    justify-content: space-around;
    height: 100%;
    width: 100%;
}

nav {
    width: 100vw;
}
